.boton{
  width: auto;
  height: 40px;
  background: linear-gradient(
    135deg,
    hsla(300, 40%, 50%, 0.496),
    hsla(290, 40%, 45%, 0.474)
  );
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 2px rgba(255, 255, 255, 0.3);
  transition: all ease 0.2s;
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato";
  outline: 1px solid hsl(300, 40%, 50%);
}

.boton:hover{
  cursor: pointer;
  box-shadow: 0 2px 5px hsl(300, 40%, 50%);
  scale: 1.02;
  background: linear-gradient(
     135deg,
     hsla(300, 40%, 50%, 0.574),
     hsla(290, 40%, 45%, 0.611)
  );
}

.boton:active{
  scale: 1.05;
}

@media screen and (width < 1200px) {
  .boton{
    height: 35px;
    font-size: 18px;
  }
}